# ESMF self-describing build dependency makefile fragment
# src location Zeus: /home/Fei.Liu/github/
# MOM5 github location:  git@github.com:feiliuesmf/mom5.git mom5_github_revision
# MOM5 CAP github location: git@github.com:feiliuesmf/nems_mom_cap.git mom5_cap_github_revision

ESMF_DEP_FRONT     = mom_cap_mod
ESMF_DEP_INCPATH   = /home/Fei.Liu/OCN-INSTALLS/timestr
ESMF_DEP_CMPL_OBJS = 
ESMF_DEP_LINK_OBJS = /home/Fei.Liu/OCN-INSTALLS/timestr/libmom.a /home/Fei.Liu/MOM5/mom-5.0.2/exec/zeus/lib_ocean/lib_ocean.a /home/Fei.Liu/MOM5/mom-5.0.2/exec/zeus/lib_FMS/lib_FMS.a
